/*PERIODIC TABLE ELEMENTS STYLING*/

text {
  font-family: "Arbutus Slab";
  background-color: white;
}

.Rf text,.Db text, .Sg text, .Bh text,
.Hs text, .Mt text, .K text, .Na text,
.Rn text, .Xe text, .Fr text, .Cs text,
.Ra text, .Pb text, .Rh text, .Pd text,
.Ir text, .Og text, .Uue text, .Ba text,
.Rb text, .I text, .At text, .Lr text,
.Os text, .Br text, .N text, .Re text,
.Tl text, .Ru text, .Ts text,
[data-category = actinide]:not(.Ac, .Pa, .Th) text {
  fill: lightgray;
}

/*INTERACTIVE ELEMENTS STYLING*/
text:hover {
  cursor: default;
}

g:hover, g:focus {
  border: 2px double white;
  filter: brightness(1.2);
  outline: 2px dashed white;
}

#helpAbout details:hover{
  cursor: default;
  text-decoration-style: wavy;
}

.infoPane::-webkit-scrollbar {
  background-color: #000000;
  border-radius: 10px;
}

.infoPane::-webkit-scrollbar-thumb {
  background-color: #0077a7;
  border-radius: 10px;
  border:2px solid  white;
}

/*lAYOUT CONTAINER STYLING*/
#appContainer {
  display:grid;
  grid: 'ip ma';
  grid-auto-columns: min-content;
  grid-gap: 8px;
  outline: 5px solid black;
  width: min-content;
  height: min-content;
}

.infoPane {
  grid-area: ip;
  width: 340px;
  height: 763px;
  position:relative;
  display: block;
  overflow-y: auto;
  font-size: 22px;
  background-color: hsla(0, 0%, 0%, .2);
}

/* .infoPane header {
width: min-content;
height: 30px;
min-height: min-content;
position:absolute;
padding:5px;
text-align: center;
} */

#infoPane p {
  height: min-content;
}

#infoReader  {
  position: absolute;
  top: 15px;
  width: 334px;
  height: 607px;
  padding: 5px;
  margin: 2;
  overflow-y: auto;
}

#helpAbout {
  position:absolute;
  top: 630px;
  width:96%;
  height:10%;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 5px;
}

#appHeader {
  position: absolute;
  top:-28px;
  left: 330px;
  display:block;
  width: 600px;
  z-index:1;
  font-size: 28px;
  margin: 10px;
}

#categoryMenu {
  position: absolute;
  top: 21px;
  left: 212px;
  z-index: 1;
  font-size: 20px;
  height: 100px;
  width: min-content;
}
/* #categoryMenu h2 {
transform:translate(200px, 20px);
font-size: 22px;
padding: 1px;
background-color: hsla(0,0%,0%, .4);
} */
#radioContainer {
  position: absolute;
  left: -44px;
  top: 69px;
  grid-template-rows: repeat(4,40px);
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 0px;
  grid-auto-flow: column;
  grid-auto-columns: 21px;
  width: 600px;
  background-color: hsla(0,0%,0%, .4);
  overflow:hidden;
  font: 16px 'roboto slab';
}

#radioContainer label {
  /* outline: 1px dotted white; */
  text-align: right;
  padding:5px;
}
#radioContainer input{
  transform:scale(1.3);
  color:black;
}
#radioContainer label {
  border-radius: 6px;
}
#radioContainer label:hover {
  background-color: hsla(0, 100%, 100%, .2);
}

button {
  background-color: hsla(0, 0%, 0%, .4);
  font: 15px 'roboto slab';
  color: white;
}
.mainArea{
  grid-area: ma;
  width: min-content;
  height: min-content;
  position: relative;
  overflow: auto;
  outline: 5px solid black;
}

#ptoe {
  display: block;
  margin-left: -30px;
  width: 1216px;
  height: 764px;
  background-color: hsla(0,100%,20%, .5);
}

/*Info Reader Components*/
#iRD {
  visibility: hidden;
}

#iRD a {
  color: white;
}

.iRI {
  position:sticky;
  top:0px;
  width: 334px ;
  background-color: black;
  margin: 0;
  padding:0;
}

/*Global Styling*/
body {
  background-color: darkblue;
  color:white;
}

h1, h2, p {
  font-family: 'Roboto Slab';
}
