/*PERIODIC TABLE ELEMENTS STYLING*/

text {
  font-family: "Arbutus Slab";
  background-color: white;
}

.Rf text,.Db text, .Sg text, .Bh text, .Hs text, .Mt text, .K text, .Na text, .Rn text, .Xe text,
.Fr text, .Cs text,
.Ra text, .Pb text,
.Rh text, .Pd text,
.Ir text, .Og text,
.Uue text, .Ba text,
.Rb text, .I text,
.At text, .Lr text,
.Os text, .Br text,
.N text, .Re text,
.Tl text, .Ru text,
.Ts text, [data-category = actinide]:not(.Ac, .Pa, .Th) text {
  fill: lightgray;
}


/*rect:not([data-category = actinide]){
filter: brightness(.2);
}*/

rect {
}

g:hover {
}
g {
  
}

/*INTERACTIVE ELEMENTS STYLING*/
text:hover {
  cursor: default;
}

g:hover {
  border: 2px double white;
  filter: brightness(1.2);
  outline: 2px dashed white;
}

.active g{
  border: 2px double white;
  filter: brightness(1.5);
  outline: 2px dashed white;
}




#helpAbout details:hover{
  cursor: default;
  text-decoration-style: wavy;
}



.infoPane::-webkit-scrollbar {
  background-color: #000000;
  border-radius: 10px;
}

.infoPane::-webkit-scrollbar-thumb {
  background-color: #0077a7;
  border-radius: 10px;
  border:2px solid  white;
}



/*lAYOUT CONTAINER STYLING*/

#appContainer {
  display:grid;
  grid: 'ip ma';
  grid-auto-columns: min-content;
  grid-gap: 8px;
  outline: 5px solid black;
  width: fit-content;
  height: 100vh;
}

.infoPane {
  grid-area: ip;
  width: 22vw;
  height: 100vh;
  position:relative;
  display: block;
  overflow-y: auto;
  font-size: 22px;
  background-color: hsla(0, 0%, 0%, .2);
  outline: 2px solid black;
}

.infoPane header {
  width: 96%;
  height: 10%;
  min-height: 30px;
  position:absolute;
  padding:2px;
  text-align: center;
}

#infoPane p {
  height: min-content;
}

#infoReader  {
  position: absolute;
  top: 15px;
  width: 96%;
  height: 80%;
  padding: 2px;
  margin: 2;
  overflow-y: auto;
}




#helpAbout {
  position:absolute;
  top: 630px;
  width:96%;
  height:10%;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}


#appHeader {
  position: absolute;
  top:-20px;
  left: 30%;
  z-index:1;
  font-size: 25px;
  margin: 10px;
}

#categoryMenu {
  position: absolute;
  top: 75px;
  left: 32%;
  z-index: 1;
}

.mainArea{
  grid-area: ma;
  width: 80vw;
  height: 100vh;
  position: relative;
  overflow: auto;
  outline: 5px solid black;
}

#ptoe {
  display: block;
  margin-left: -2vw;
  width: 99%;
  background-color: hsla(0,100%,20%, .5);
}

/*IR COMPONENTS*/
#iRD {
  visibility: hidden;
  
}

#iRD a {
  color: white;
}

.iRI {
  position:sticky;
  top:0px;
  width: 20vw ;
  background-color: black;
  margin: 0;
  padding:0;
}

/*GLOBAL STYLING*/

body {
  background-color: darkblue;
  color:white;
}

h1, h2, p {
  font-family: 'Roboto Slab';
}
